.home {
  background-color: rgb(213, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: auto;
  padding-right: auto;
}

.home__row1,
.home__row2,
.home__row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}
